name: Reset inactive users

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *" # test

jobs:
  reset:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          psql "$DATABASE_URL" -v ON_ERROR_STOP=1 -c "
            UPDATE users
            SET
              level = 0,
              location = NULL,
              status_message = NULL,
              updated_at = NOW()
            WHERE updated_at < NOW() - INTERVAL '5 minutes';
          "
